.cabecalho {
    background-image: url("../assets/imgs/Banner\ Home.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: #fff;
}

.secao-banner {
    text-align: center;
    padding: 200px 0;
}

.secao-banner h1, h2 {
    font-size: 2.8rem;
    font-weight: 300;
    margin-bottom: 5px;
}

.secao-banner h2 {
    margin-bottom: 80px;
}

.destaque-amarelo {
    color: #ffc857;
    font-weight: bold;
}

.botao-amarelo {
    background-color: #ffc857;
    color: #0a2239;
    padding: 1% 5%;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 800;
}

.secao-vantagem {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
}

.item-vantagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    max-width: 20%;
}

.icone-vantagem {
    width: 20%;
}

.item-vantagem h3 {
    font-size: 1.4rem;
}

.item-vantagem p {
    max-width: 85%;
}

.sessao-carros {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    height: 100vh;
    background-color: #0a2239;
}

.cartao-carro {
    width: 300px;
    height: 460px;
    perspective: 500px;
}

.cartao-conteudo {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.cartao-carro:hover .cartao-conteudo {
    transform: rotateY(180deg) scale(1.1);
}

.frente-cartao,
.verso-cartao {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: #fff;
    backface-visibility: hidden;
    box-shadow: 0 0 15 rgba(0, 0, 0, 0.15);
    padding: 1.5rem;
    text-align: center;
}

.frente-cartao h2 {
    color: #2B858B;
    font-weight: bold;
    font-size: 1.5rem;
}

.frente-cartao img {
    width: 100%;
    height: auto;
    margin: 35% 0;
}

.cinza {
    color: #535353;
    font-weight: 500;
}

.preco {
    margin-top: 5px;
    color: #000;
    font-weight: 600;
}

.verso-cartao {
    background-color: #2B858B;
    color: #fff;
    transform: rotateY(180deg);
}

.verso-cartao h2 {
    font-weight: bold;
    font-size: 1.5rem;
}

.verso-cartao > p {
    margin-bottom: 50px;
}

.verso-cartao ul {
    margin-bottom: 50px;
    margin-left: 10%;
}

.verso-cartao ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0.8rem auto;
}

.verso-cartao ul li img {
    width: 8%;
}

.botao-reserva {
    padding: 3% 20%;
    background-color: #fff;
    color: #535353;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
}

.botao-reserva:hover {
    cursor: pointer;
    background-color: #0a2239;
    color: #fff;
}